<div class="container">
  <h1>Evaluation application declined</h1>
  <%= @evaluation.evaluation_applications[0].user.email %>'s application to
  evaluate <%= @evaluation.restaurant.name %> has been declined.
</div>