<h2>Hello <%= @user.first_name.capitalize %>,</h2>
<p>
  Congratulations, you have been accepted as an Evaluator for
  10 & 5 Hospitality!
  <a href="<%= base_url %>" target="_blank">Click here</a>
  to login and apply to some evaluations.
  <br><br>
  Welcome,
  <br><br>
  10&5 Team
</p>