<h2>Hello <%= @user.first_name.capitalize %>,</h2>
<p>
  We have reviewed your application for 10&5 hospitality, unfortunately we
  do not believe you would be right as one of our evaluators.
  <br><br>
  Thank you for your time,
  <br><br>
  10&5 Team
</p>