<h2>Hello <%= @user.first_name %>,</h2>
<p>
  Your account with 10&5 Hospitality has been disable. Please read the notes below.
<div class="border-green">
  <h4>Notes</h4>
  <i><%= @message %></i>
</div>
<br><br>
Thank you for your time,
<br><br>
10&5 Team
</p>