<h2>Hello <%= @user.first_name %>,</h2>
<p>
  Your account has been activated,
  <a href="<%= base_url %>" target="_blank">Click here</a>
  to log in and apply to some evaluations.
  <br><br>
  Welcome,
  <br><br>
  10&5 Team
</p>