<h2>Hello <%= @user.first_name.capitalize %>,</h2>
<p>
  To reset your password, please follow <a href="<%= base_url %>/reset_password/<%= @user.password_reset_token %>">this link.</a>
<br><br>
Thanks,
<br><br>
10&5 Team
</p>