<% @all_users.each do |user| %>
    <div class="row user-row">
      <strong><%= user.first_name.capitalize + ' ' + user.last_name.capitalize %>
        <span class="text-muted"><%= user.account.capitalize %></span></strong><br>
      <% if user.status == 'pending' %>
            <span class="text-muted">
              Status: <%= user.status %>
              <button> Activate</button>
            </span>
      <% else %>
            <span class="text-muted">
              Status: <%= user.status %>
            </span>
      <% end %>
    </div>
<% end %>