<div class="main-content">
  <div class="container">
    <%= form_for  "/send_password_reset" do |f| %>
        <fieldset>
          <div class="controls col-xs-12">
            <h1>Please type in your email, hit submit, then check that email to rest your password.</h1>
            <br>
          </div>

          <div class="control-group margin-top-8">
            <div class="controls col-xs-12">
              <%= f.text_field :email, :class => "form-control", :placeholder => "your@email.com" %>
            </div>
          </div>


          <div class="control-group col-xs-12 margin-top-8">
            <label class="control-label" for="signup"></label>

            <div class="controls">
              <%= f.submit "Request password reset", :class => "btn btn-primary width-100-percent margin-bottom-20" %>
            </div>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>