<!-- Modal -->
<div class="modal fade bs-modal-sm disable-user-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <br>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="signin">

            <fieldset>
              <h4>What message would you like to send the user about why they are being Disabled</h4>
              <textarea id="disableUserMessage" class="form-control height-400" style="height: 200px"></textarea>
            </fieldset>
          </div>
        </div>
      </div>

      <div class="modal-footer" style="border: 0">
        <center>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger disableUser width-80" data-dismiss="modal">Disable</button>
        </center>
      </div>
    </div>
  </div>
</div>