<h1>
  Welcome To Restaurant Anonymous,
</h1>
<br>
<h4>
  We pride ourselves on being the most comprehensive and simple to use platform for
  restaurant standards evaluation.  As an evaluator, you will receive rewards for each
  restaurant you evaluate.
  <br>
  <br>
  How do you find restaurants looking for evaluations?
  <br>
  <br>
  Easy, as an evaluator you will have access to restaurants all over Denver looking for
  an evaluation right on your dashboard.
  So what are you waiting for, complete an application today and get a responce in 5 business days.
</h4>
<br><br>
<h4>
<%= link_to('Become an evaluator', "/users/application", :class => 'btn-info btn sign-up') %>
</h4>

<div class="meta">
  <a id="signedOut"></a>
</div>