<div class="container align-center page-load-spinner">
  <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
<div id="homePage" class="main-content background-image">
  <div class="layer blackLayer">
    <div class="container">

      <div class="container">
        <hr class="prettyline">
        <hr class="prettyline">
      </div>

      <h1>
        Welcome To 10&5 Hospitality,
      </h1>
      <br>
      <h4>
        <!--We pride ourselves on being the most comprehensive and user friendly platform for-->
        <!--restaurant standards evaluation. As an evaluator, you will receive rewards for each-->
        <!--restaurant you evaluate.-->
        10 & 5 Hospitality is built on the principle of great service by both the company and our
        clients.  Our aim is to allow 10 & 5 Hospitality to uphold our client’s standards by
        designing and implementing quality benchmarks and provide an accurate report for a great
        training tool.  Our evaluators are made up of experienced industry professionals and local
        experts to uphold our standards set by each restaurant’s exclusive guidelines.
        <br>
        <br>
        The reports generated from each visit are confidential and purely and scope of the
        restaurants activities in accordance to the standards set.  This valuable training
        information will continue to give management an opportunity to improve and raise the
        expectations.  Our mission is to provide the best possible service to our clients to
        allow them to do so.
        <!--How do you find restaurants looking for evaluations?-->
        <!--<br>-->
        <!--<br>-->
        <!--Easy, as an evaluator you will have access to restaurants all over Denver looking for-->
        <!--an evaluation right on your dashboard.-->
        <!--So what are you waiting for, complete an application today and get a responce in 5 business days.-->
      </h4>
      <br><br>
      <h4>
        <%= link_to('Become an evaluator', "/users/application", :class => 'btn-info btn sign-up', :target => "_self") %>
        <a class="btn btn-success sign-in" data-target=".bs-modal-sm" data-toggle="modal" href="#login">Restaurant/User Login</a>
      </h4>

      <div class="meta">
        <a id="signedOut"></a>
      </div>
    </div>
  </div>
</div>