<div class="row">
  <div class="span12">
    <% if session[:user_id] == nil %>
        <%= render 'loggedOut' %>
    <% elsif !current_user.admin %>
        <%= render 'loggedIn' %>
    <% end %>
  </div>
</div>