<h2>Hello <%= @restaurant.name.split.map(&:capitalize)*' ' %>,</h2>
<p>
  The 10&5 Hospitality team have completed an evaluation for your restaurant.
  To view that summary.
  <a href="<%= base_url %>/restaurant/<%= @evaluation.evaluation.restaurant.id %>/action_plan/<%= @evaluation.id %>" target="_blank">Login</a>.
  <br><br>
  Thanks for using 10&5 Hospitality,
  <br><br>
  10&5 Team
</p>
