<h2>Hello <%= @restaurant.name.capitalize %>,</h2>
<p>
  To reset your password, please follow <a href="<%= base_url %>/reset_password/<%= @restaurant.password_reset_token %>">this link.</a>
  <br><br>
  Thanks,
  <br><br>
  10&5 Team
</p>