<h2>Hello <%= @restaurant.name.split.map(&:capitalize)*' ' %>,</h2>

<h4>
  Your <a href="<%= base_url %>" target="_blank">10&5 Hospitality</a> account has been created.
  <a href="<%= base_url %>" target="_blank">Click here</a>, then login with this email address
  and the password: <%= @restaurant.temp_password %>.  Once logged in, you can click 'Edit Info'
  and change your password to the password you desire.
</h4>

<h4>
  Welcome to 10&5 Hospitality,
  <br><br>
  10&5 Team
</h4>


