<h2>Hello admin,</h2>
<p>
  An evaluation has been submitted, click below to view the submission.
  <br>
  <a href="<%= base_url %>/admin/?load_evaluation=<%= @evaluation.id %>" target="_blank">Dashboard</a>.
  (Note: If you receive a 404 page, this means you are no logged in as an admin.  Click the icon in the
  top right corner of the page, logout if necessary, type in your admin credentials into the login, then hit the submit button.)
  <br><br>
  Please do not send this email to anyone.
</p>