<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h2>Hello admin,</h2>

<h4>An evaluation has been submitted, click below to view the submission.</h4>

  <button href="restaurant-anonymous.herokuapp.com">View evaluation</button>.

</body>
</html>