<h2>Hello <%= @user.first_name %>,</h2>
<p>
  Thank you for applying to evaluate <%= @evaluation.evaluation.restaurant.name %>,
  We will review your credentials and get back to you in 3 - 5 business days.
  <br><br>
  Thank you for your time,
  <br><br>
  10&5 Team
</p>