<div id="metaInfo" data-restaurant-id="<%= @restaurant.id %>">
  <h1>
    <%= @restaurant.name.capitalize %> Evaluations
  </h1>
</div>

<table id="evaluationsTable" class="table table-striped" data-restaurant-id="<%= @restaurant.id %>">
  <thead>
  <tr class="tableKeys">
    <th>Department</th>
    <th>Missed Standard</th>
    <th>Comment</th>
    <th>Last Visit</th>
    <th>Last 6 Visits</th>
  </tr>
  </thead>
  <tbody class="tableBody">

  </tbody>
</table>