<% if current_user %>
    <% if current_user.id == @restaurant.id %>
        <h1>Editing <%= current_user %></h1>
        <%= render 'form' %>
        <%= link_to 'Show', @restaurant %> |
        <%= link_to 'Back', root_path %>
    <% else %>
        <h1>404</h1>
    <% end %>
<% else %>
    <h1>404</h1>
<% end %>

