<h2>Hello <%= @user.first_name.capitalize %>,</h2>
<p>
  Congratulations, your evaluation has been approved!  <strong>Please respond to this email
  with an image of your receipt.</strong>
  <br>
  Once you send you receipt, you can expect and email with details about your
  reward in 3-5 business days.
  <br><br>
  Thank you for the evaluation,
  <br><br>
  10&5 Team
</p>