<div class="form-group">
  <hr>
  <div class="row" data-employee-title="drinks_title">
    <h3 class="col-lg-12 inline-block">
      Beverages - 2 max
    </h3>
  </div>

  <!--<div class="row">-->
    <!--<div class="col-sm-12 col-xs-12">-->
      <!--<label style="font-weight: normal;">No beverages.-->
        <!--<input class="evaluationClick" type="checkbox" id="no_drinks"><br>-->
      <!--</label>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row">
    <label class="col-sm-12 col-xs-12"> Describe your first drink.
      <input type="text" class="form-control evaluationFill" id="drink_2">
    </label>

    <label class="col-sm-12 col-xs-12"> Describe your second drink.
      <input type="text" class="form-control evaluationFill" id="drink_1">
    </label>
  </div>
</div>