<div class="form-group">
  <hr>
  <label class=".col-xs-4" for="email">Check
  </label>
  <!--<label class=".col-xs-4" style="font-weight: normal;  margin-left: 20px">All items billed-->
    <!--<input type="checkbox" name="items"><br>-->
  <!--</label>-->
  <div>
    <label class=".col-xs-4" style="font-weight: normal;  margin-left: 20px">All items billed
      <input type="checkbox" id="all_items"><br>
    </label>
  </div>

  <div class="radio">
    <label> Check #
      <input type="text" class="form-control" id="check_id">
    </label>
    <label> Table #
      <input type="text" class="form-control" id="table_id">
    </label>
    <label> Check Amount
      <input type="text" class="form-control" id="check_amount">
    </label>
  </div>
</div>