<%= render 'evaluator/user_evaluation' %>

<br>
<div class="container">
  <h4>Open Evaluations</h4>
  <%= render 'evaluator/tables/open_evaluations' %>
  <br>

  <h4>New evaluations</h4>
  <%= render 'evaluator/tables/new_evaluations' %>
  <br><br>

</div>