<div class="form-group">
  <hr>
  <div class="row" data-employee-title=<%= locals[:key] %>_title>
    <h3 class="col-lg-4 inline-block">
      Reservationist
    </h3>
  </div>

  <div class="row">
    <div class="col-sm-4 col-xs-5">
      <label style="font-weight: normal">No Reservationist
        <input class="evaluationClick" type="checkbox" id="no_res"><br>
      </label>

    </div>
    <div class="col-sm-8 col-xs-7">
      <label style="font-weight: normal;">Gender:
        <input class="evaluationClick" type="radio" name="<%= locals[:key] %>_gender" value="male">&nbsp M &nbsp
        <input class="evaluationClick" type="radio" name="<%= locals[:key] %>_gender" value="female">&nbsp F &nbsp
      </label>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-xs-4"> Name
      <input type="text" class="form-control evaluationFill" id="res_name">
    </label>
    <label class="col-sm-8 col-xs-8"> Time Reservation Made
      <input type="text" class="form-control evaluationFill" id="res_time">
    </label>
  </div>
</div>