<div class="form-group">
  <hr>
  <label class=".col-xs-4" for="email">Time spots
  </label>
  <div class="radio">
    <label> Arrival Time
      <input type="text" class="form-control" id="arrival_time">
    </label>
    <label> Departure Time
      <input type="text" class="form-control" id="departure_time">
    </label>
  </div>
</div>