<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h2>Hello evaluator,</h2>

<p>
  Congratulations, you have been accepted as an Evaluator for
  10 & 5 Hospitality!
  <a href="restaurant-anonymous.herokuapp.com">Click here</a>
  to log in and apply to some evaluations.
  <br><br>
  Welcome,
  <br><br>
  10 & 5 Team
</p>
</body>
</html>