<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h2>Hello evaluator,</h2>

<p>
  We have reviewed your evaluation for <%= @evaluation.evaluation.restaurant.name %>, and consider it
  unfinished.  Please read the notes below.
  <h4>Notes</h4>
  <%= @message %>
  <br><br>
  The evaluation has been reopened, can be viewed on your
  <a href="http://localhost:3000?load_evaluation=<%= @evaluation.id %>" target="_blank">Dashboard</a>.
  <br><br>
  Thank you for your time,
  <br><br>
  10 & 5 Team
</p>
</body>
</html>