<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h2>Hello evaluator,</h2>

<p>
  Thank you for submitting your evaluation for 'Chipotle Mexican Grill'.
  Your evaluation is under review, and we will contact you in 3 - 5 business
  days with our results.
  <br><br>
  Thank you for your time,
  <br><br>
  10 & 5 Team
</p>
</body>
</html>