<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h2>Hello <%= @user.first_name %>,</h2>

<p>
  We have reviewed your application for 10 and 5 hospitality, unfortunately we
  do not believe you would be right as one of our evaluators.
  <br><br>
  Thank you for your time,
  <br><br>
  10 & 5 Team
</p>
</body>
</html>