<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h2>Hello evaluator,</h2>

<p>
  Congratulations, your evaluation has been approved!  <strong>Please respond to this email
  with an image of your receipt.</strong>
  <br>
  Once you send you receipt, you can expect and email with details about your
  reward in 3-5 business days.
  <br><br>
  Thank you for the evaluation,
  <br><br>
  10 & 5 Team
</p>
</body>
</html>