<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h2>Hello <%= @user.first_name %>,</h2>

<p>
  We are currently reviewing your application, which will take
  3-5 business days. In the mean time please confirm your email
  by clicking
  <a href="http://localhost:3000/users/<%= @user.id %>/confirm_email" target="_blank">this link</a>.
  <br><br>
  Thanks for your interest,
  <br><br>
  10 & 5 Team
</p>
</body>
</html>