The table

<table class="table table-bordered align-center">
  <thead>
  <tr>
    <th class="col-xs-2" data-field="id">Evaluator</th>
    <th class="col-xs-2" data-field="id">Restaurant</th>
    <th class="col-xs-4" data-field="name">Approve</th>
    <th class="col-xs-1" data-field="price">Site</th>
    <th class="col-xs-3" data-field="price">Address</th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <th>
          Hello
        </th>
        <th>
          d
        </th>
        <th>
ff
        </th>

        <th>
f        </th>
        <th>
g        </th>
      </tr>
  </tbody>
</table>